<main id="main">
    <h4 style="font-size: 1.2rem;font-weight: bold;text-align: center;">Add Work</h4>
    <section>
        <form [formGroup]="workDetailsForm" class="shadow form">

            <div class="mb-3">
                <label for="division" class="form-label">Select Division</label>
                <input type="text" class="form-control" id="division" formControlName="division" readonly>
            </div>

            <div class="mb-3">
                <label for="nameofWork" class="form-label">Name of the Work</label>
                <input type="text" class="form-control" id="nameofWork" formControlName="nameOfTheWork">
            </div>

            <div class="mb-3">
                <label for="agreementNumber" class="form-label">Agreement Number</label>
                <input type="text" class="form-control" id="agreementNumber" formControlName="agreementNumber">
            </div>

            <div class="mb-3">
                <label for="agreementValue" class="form-label">Agreement Value (incl. GST)</label>
                <input type="text" class="form-control" id="agreementValue" formControlName="agreementValue">
            </div>

            <div class="mb-3">
                <label for="agreementDate" class="form-label">Agreement Date</label>
                <input type="date" class="form-control" id="agreementDate" formControlName="agreementDate">
            </div>

            <div class="mb-3">
                <label for="dateOfCommencement" class="form-label">Date of Commencement</label>
                <input type="date" class="form-control" id="dateOfCommencement" formControlName="commencementDate">
            </div>

            <div class="mb-3">
                <label for="dateOfCompletion" class="form-label">Date of Completion</label>
                <input type="date" class="form-control" id="dateOfCompletion" formControlName="completionDate">
            </div>

            <div class="mb-3">
                <label for="aeEngineer" class="form-label">Select AE</label>
                <select id="aeEngineer" class="form-select" formControlName="firstOfficer">
                    <option *ngFor="let firstOfficer of aeUsernames" [value]="firstOfficer">{{ firstOfficer }}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="aeeEngineer" class="form-label">Select AEE</label>
                <select id="aeeEngineer" class="form-select" formControlName="secondOfficer">
                    <option *ngFor="let secondOfficer of aeeUsernames" [value]="secondOfficer">{{ secondOfficer }}
                    </option>
                </select>
            </div>

            <div class="mb-3">
                <label for="seventhOfficer" class="form-label">Select CE</label>
                <select id="seventhOfficer" class="form-select" formControlName="seventhOfficer">
                    <option value="CE_CITY">CE_CITY</option>
                    <option value="CE_RURAL">CE_RURAL</option>
                </select>
            </div>

        </form>

        <div style="display: flex;justify-content: end;">
            <button mat-raised-button id="submit-button" (click)="onAddWork()"
                [disabled]="submitDisable">Submit</button>
        </div>
    </section>

</main>