<section class="main">
    <div class="login">
        <div style="display: flex;justify-content: center;">
            <img src="../../assets/images/tnhb_logo.png" alt="" style="width: 80%;">
        </div>
        <h2 style="text-align: center; font-weight: bold; font-size: x-large; margin: 1rem 0;">Employee - Reset Password
        </h2>

        <div class="login-form">
            <section [formGroup]="form" style="padding: 0 2rem;">
                <div class="mb-3">
                    <label for="username" class="form-label fw-bold">Username</label>
                    <input type="text" class="form-control" id="username" formControlName="username" required
                        [readonly]="sendOTPDisable">
                    <div *ngIf="form.get('username')?.touched && form.get('username')?.hasError('required')"
                        class="text-danger">
                        Username is required
                    </div>
                </div>
                <button type="submit" class="mb-3 w-100 btn btn-primary" (click)="sendOTP()"
                    [disabled]="sendOTPDisable">Send
                    OTP</button>
                <div class="mb-3" *ngIf="showOTPField">
                    <label for="otp" class="form-label fw-bold">OTP</label>
                    <input type="text" class="form-control" id="otp" formControlName="otp" required maxlength="6">
                    <div *ngIf="form.get('otp')?.touched && form.get('otp')?.hasError('required')" class="text-danger">
                        OTP is required
                    </div>
                </div>
                <div class="mb-3" *ngIf="showOTPField">
                    <label for="newPassword" class="form-label fw-bold">New Password</label>
                    <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required>
                    <div *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.hasError('required')"
                        class="text-danger">
                        Password is required
                    </div>
                </div>
                <div class="mb-3" *ngIf="showOTPField">
                    <label for="confirmPassword" class="form-label fw-bold">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
                        required>
                    <div *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')"
                        class="text-danger">
                        Confirm Password
                    </div>
                </div>
                <button *ngIf="showOTPField" type="submit" class="mb-3 w-100 btn btn-primary" (click)="verifyOTP()"
                    [disabled]="verifyOTPDisable">Verify
                    OTP</button>
            </section>
        </div>
    </div>
</section>