#main {
    padding: 2rem;
}

.verify-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    margin-bottom: 1rem;
}

#verify-button {
    background-color: #294B29;
    color: #ffffff;
}

#file-buttons {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

#file-buttons .file-btn {
    width: 10rem;
    background-color: #1D24CA;
    color: #ffffff;
}